/*
    Estilo principal do site claex
    Dev: udan
    Versão: 1.0.0
    Ultima data de alteração: 13/06/25
*/

/* Tags gerais */

*{
    margin: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5765ff;
    height: 50px;
    padding: 0px 24px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5765ff;
    color: white;
    height: 80px;
    text-align: center;
}

h1{
    font-size: 2em;
}

a{
    text-decoration: none;
    color: #5765ff;
}
a:hover{
    color: #2c37b7;
}

button{
    background-color: black;
    border: 1px transparent solid;
    border-radius: 4px;
    color: white;
    height: 30px;
}
button:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

input{
    width: 250px;
    height: 40px;
    padding: 0px 10px;
    margin: 20px 0px;
    background-color: #DEDEDE;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
}
input:focus{
    outline: none;
}
.submit{
    background-color: black;
    color: white;
    transition: all 0.3s;
}
.submit:hover{
    background-color: rgb(0, 13, 50);
    transition: all 0.3s;
}

table{
    margin: auto;
    border: 1px solid black;
}
thead{
    background-color: #2c37b7;
    color: white;
}
th{
    padding: 0px 10px;
}
td{
    text-align: center;
}
/*  classes */
.flex_colunm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.align_center{
    text-align: center;
}


.infos_claex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1230px;
    margin: auto;
}
.about_claex{
    background-color: #E6E9FF;
    border: 1px solid black;
    border-radius: 3px;
    margin: 40px;
    padding: 30px;
    width: 200px;
    height: 250px;
}
.about_us{
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 40px;
    padding: 30px;
    width: 180px;
    height: 230px;
}
.about_us > img{
    object-fit: cover;
    height: 130px;
    width: 180px;
    border-radius: 5px;
}

.caixa_sala{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 4px;
}

/* cores das salas */
.vermelho{
    background-color: #FE4F52;
    color: white;
}
.azul{
    background-color: #79D4FF;
    color: white;
}
.verde{
    background-color: #58F05D;
    color: black;
}
.amarelo{
    background-color: #FFFF47;
    color: black;
}
.preto{
    background-color: #626C7A;
    color: white;
}
.marrom{
    background-color: #886565;
    color: white;
}


.link_nova_sala{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ids */

#capa_index{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 600px;
}
#capa_index > div > h1{
    width: 280px;
    margin-bottom: 30px;
}
#capa_index > img{
    width: 300px;
}
/* pra cll */
@media screen and (max-width: 580px){
    #capa_index{
        flex-direction: column-reverse;
    }
}


#sect_login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0px;
}
@media screen and (max-width: 580px) {
    #sumir{
        visibility: hidden;
    }
}
#img_login{
    width: 300px;
}
#formulario_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#painel{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #E6E9FF;
}
@media screen and (max-width: 450px) {
    #painel{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}
#painel > img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}


#salas_user{
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
}
#grade_aula{
    width: 100%;
}

#form_nova_sala{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}
